* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

canvas {
  border: 1px solid black;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.category input {
  padding: 8px;
}
